#root

DirectXTex/
x64/

*.exe
*.cache
*.dll
*.log
*.pdb
*.lib
*.png
*.fbx

#testclient
TestClient/Resources/
TestClient/x64/

#engine
engine/x64
.vs/MyEngineDevelop/v18/.suo
.vs/MyEngineDevelop/v18/DocumentLayout.backup.json
.vs/MyEngineDevelop/v18/fileList.bin
.vs/
